<template>
  <div class="flex flex-col justify-start items-center h-screen pt-24">
    <h1 class="text-4xl pb-12 font-sans">List Item Drag &amp; Drop Demo</h1>
    <SortableList
      lockAxis="y"
      v-model="people"
      :distance="5"
      :transitionDuration="1000"
      :draggedSettlingDuration="500"
      :lockToContainerEdges="true"
    >
      <ListCard
        v-for="(person, index) in people"
        :person="person"
        :key="index"
        :index="index"
      />
    </SortableList>
  </div>
</template>

<script>
import SortableList from "./SortableList";
import ListCard from "./ListCard";

export default {
  name: "Demo",

  components: {
    ListCard,
    SortableList
  },

  data() {
    return {
      people: [
        {
          name: "Ochen",
          email: "ochen@peacefirst.com"
        },

        {
          name: "Angela Methot",
          email: "amethot@peacefirst.org"
        },

        {
          name: "Vick Eap",
          email: "eapvick@gmail.com"
        }
      ]
    };
  }
};
</script>
