<template>
  <li class="list-none border-b-2">
    <div class="flex items-center px-4 py-4 sm:px-6">
      <div class="min-w-0 flex-1 flex items-center">
        <div class="flex-shrink-0">
          <span class="h-12 w-12 rounded-full bg-gray-200"></span>
        </div>
        <div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
          <div>
            <div class="text-sm leading-5 font-medium text-indigo-600 truncate">
              {{ person.name }}
            </div>
            <div class="mt-2 flex items-center text-sm leading-5 text-gray-500">
              <svg
                class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                />
                <path
                  d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                />
              </svg>
              <span class="truncate">{{ person.email }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
</template>

<script>
import { ElementMixin } from "vue-slicksort";
export default {
  name: "ListCard",
  mixins: [ElementMixin],
  props: {
    person: {
      required: true,
      type: Object
    }
  }
};
</script>

<style></style>
