<template>
  <ul class="bg-white shadow overflow-hidden sm:rounded-md w-1/2 list-none">
    <slot />
  </ul>
</template>

<script>
import { ContainerMixin } from "vue-slicksort";
export default {
  name: "SortableList",
  mixins: [ContainerMixin]
};
</script>

<style></style>
