<template>
  <div id="app">
    <Demo />
  </div>
</template>

<script>
import Demo from "./components/Demo.vue";

export default {
  name: "App",
  components: {
    Demo
  }
};
</script>

<style></style>
